In [2]:
!pip install selenium
!pip install webdriver-manager
!pip install beautifulsoup4

Requirement already satisfied: selenium in c:\users\aruni\anaconda3\lib\site-packages (4.31.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\aruni\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.2)
Requirement already satisfied: trio~=0.17 in c:\users\aruni\anaconda3\lib\site-packages (from selenium) (0.29.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\aruni\anaconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\aruni\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\aruni\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\aruni\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\aruni\anaconda3\lib\site-packages (from trio~=0.17->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\aruni\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\aruni\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\aruni\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\aruni\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\aruni\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\aruni\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\aruni\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\aruni\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\aruni\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver-manager in c:\users\aruni\anaconda3\lib\site-packages (4.0.2)
Requirement already satisfied: requests in c:\users\aruni\anaconda3\lib\site-packages (from webdriver-manager) (2.32.2)
Requirement already satisfied: python-dotenv in c:\users\aruni\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\aruni\anaconda3\lib\site-packages (from webdriver-manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aruni\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aruni\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aruni\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aruni\anaconda3\lib\site-packages (from requests->webdriver-manager) (2024.6.2)
Requirement already satisfied: beautifulsoup4 in c:\users\aruni\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\aruni\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [4]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd
import time

In [6]:
options = Options()
options.add_argument("--start-maximized")
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

In [7]:
pages_to_scrape=50
laptop_data=[]
for page in range (1,51):
    url='https://www.flipkart.com/search?q=laptop&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=' + str(page)
    driver.get(url)
    time.sleep(3)

    soup = BeautifulSoup(driver.page_source, "html.parser")
    laptops = soup.findAll("div", class_='cPHDOP col-12-12')

    laptop_data.extend(laptops)
    print(f" Page {page} collected.")
    time.sleep(2)

 Page 1 collected.
 Page 2 collected.
 Page 3 collected.
 Page 4 collected.
 Page 5 collected.
 Page 6 collected.
 Page 7 collected.
 Page 8 collected.
 Page 9 collected.
 Page 10 collected.
 Page 11 collected.
 Page 12 collected.
 Page 13 collected.
 Page 14 collected.
 Page 15 collected.
 Page 16 collected.
 Page 17 collected.
 Page 18 collected.
 Page 19 collected.
 Page 20 collected.
 Page 21 collected.
 Page 22 collected.
 Page 23 collected.
 Page 24 collected.
 Page 25 collected.
 Page 26 collected.
 Page 27 collected.
 Page 28 collected.
 Page 29 collected.
 Page 30 collected.
 Page 31 collected.
 Page 32 collected.
 Page 33 collected.
 Page 34 collected.
 Page 35 collected.
 Page 36 collected.
 Page 37 collected.
 Page 38 collected.
 Page 39 collected.
 Page 40 collected.
 Page 41 collected.
 Page 42 collected.
 Page 43 collected.
 Page 44 collected.
 Page 45 collected.
 Page 46 collected.
 Page 47 collected.
 Page 48 collected.
 Page 49 collected.
 Page 50 collected.

In [10]:
titles = []
for data in laptop_data:
    name = data.find('div', class_='KzDlHZ')
    if name:
        titles.append(name.get_text(strip=True))
    else:
        titles.append("Unknown")

In [14]:
discount_price=[]
for data in laptop_data:
    rate= data.find('div', class_='Nx9bqj _4b5DiR')
    if rate:
        discount_price.append(rate.get_text(strip=True))
    else:
        discount_price.append(0)

In [16]:
original_price=[]
for data in laptop_data:
    rate= data.find('div', class_='yRaY8j ZYYwLA')
    if rate:
        original_price.append(rate.get_text(strip=True))
    else:
        original_price.append(0)

In [18]:
rating = [] 
for data in laptop_data:
    rating_tag = data.find('div', class_='XQDdHH') 
    if rating_tag:
        rating.append(rating_tag.get_text(strip=True)) 
    else:
        rating.append(0)

In [20]:
reviews = []

for data in laptop_data:
    review_block = data.find('span', class_='Wphh3N')
    
    if review_block:
        review_text = review_block.get_text(strip=True)
        if "Reviews" in review_text:
            parts = review_text.split('&')
            if len(parts) == 2:
                review_part = parts[1].strip()  
                review_number = review_part.split()[0]
                reviews.append(review_number)
            else:
                reviews.append('0')
        else:
            reviews.append('0')
    else:
        reviews.append('0')

In [22]:
offers = []

for data in laptop_data:
    offer_tag = data.find('div', class_='UkUFwK')
    if offer_tag:
        text = offer_tag.get_text(strip=True)
        percent = ''.join(filter(str.isdigit, text)) 
        if percent:
            offers.append(int(percent))
        else:
            offers.append(0)
    else:
        offers.append(0)

In [28]:
dataset={'Title':titles,'Discount_Price':discount_price,'Original_Price':original_price,'Rating':rating,'Number_of_Reviews':reviews ,'Discount(%)':offers}
df=pd.DataFrame(dataset)
df.head()

,Title,Discount_Price,Original_Price,Rating,Number_of_Reviews,Discount(%)
0,Unknown,0,0,0,0,0
1,Unknown,0,0,0,0,0
2,CHUWI Intel Celeron Dual Core 11th Gen N4020 -...,"₹16,990","₹34,990",3.7,174,51
3,CHUWI Intel Core i5 12th Gen 12450H - (16 GB/5...,"₹29,990","₹59,990",4.7,0,50
4,Acer Aspire 3 Intel Celeron Dual Core - (8 GB/...,"₹15,990","₹32,999",3.8,71,51

In [30]:
df.shape

(1179, 6)

In [32]:
df.to_csv('laptops_dataset.csv', index=False)

In [34]:
df2 = pd.read_csv('laptops_dataset.csv')
df2.head()

,Title,Discount_Price,Original_Price,Rating,Number_of_Reviews,Discount(%)
0,Unknown,0,0,0.0,0,0
1,Unknown,0,0,0.0,0,0
2,CHUWI Intel Celeron Dual Core 11th Gen N4020 -...,"₹16,990","₹34,990",3.7,174,51
3,CHUWI Intel Core i5 12th Gen 12450H - (16 GB/5...,"₹29,990","₹59,990",4.7,0,50
4,Acer Aspire 3 Intel Celeron Dual Core - (8 GB/...,"₹15,990","₹32,999",3.8,71,51

In [36]:
df2.isnull().sum()

Title                0
Discount_Price       0
Original_Price       0
Rating               0
Number_of_Reviews    0
Discount(%)          0
dtype: int64

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179 entries, 0 to 1178
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1179 non-null   object
 1   Discount_Price     1179 non-null   object
 2   Original_Price     1179 non-null   object
 3   Rating             1179 non-null   float64
 4   Number_of_Reviews  1179 non-null   object
 5   Discount(%)        1179 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 55.4+ KB